@tailwind base;
@tailwind utilities;
@tailwind components;

@layer utilities {
  .blur-bg {
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
  }

  .h-screen-minus-64 {
    height: calc(100vh - 64px);
  }
}
